* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// TYPO
body {
  font-family: $mainFont;
  color: $main-color;
}

a {
  @include resetLink;
}

// CONTAINER
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

// BUTTONS
.btn {
  display: inline-block;
  padding: 10px 50px;

  &-shop {
    background-color: $color-shop;
    text-transform: uppercase;
    font-size: $text-medium;

    &:hover {
      background-color: $color-shop-light;
    }
  }
}
