.header {
  background-color: $bg-dark;

  // HEADER TOP
  .header-top {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;

    .header-top--menu {
      @include listInline;

      li {
        padding: 0 12px;

        i {
          color:$color-shop;
          font-size: $text-small;
          margin-right: 8px;
          vertical-align: middle;
        }

        a {
          color: $color-grey;
          font-size: $text-xs;

          &:hover {
            color: $main-color;
            text-decoration: underline;
          }
        }
      }
    }
  }

  // HEADER BOTTOM
  .header-bottom {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 20px;

      img {
        width: 90px;
      }
    }

    .header-bottom--menu {
      @include listInline;
      flex-wrap: wrap;

      a {
        font-size: $text-small;
        padding: 18px 24px;
        display: inline-block;

        &:hover {
          background-color: $main-color;
          color: #000;
        }

        i {
          vertical-align: middle;
          color: $color-grey;
        }
      }

    }

  }
}
