// JUMBOTRON
.jumbotron {
  height: $jumbotron-height;
  background-image: url("../img/hero-painteressentials-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 49%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 80px;
  position: relative;

  .jumbotron-credits {
    font-size: $text-xxs;
    position: absolute;
    bottom: 20px;
    left: 180px;
  }
  .central-column {
    height: 100%;
    width: 40%;
    margin-right: 50px;
    padding-top: 30px;

    h1 {
      font-size: 29px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      font-size: $text-medium;

      li {
        margin-bottom: 10px;

        span {
          color: $color-grey;
          font-weight: 700;
          font-size: 20px;
        }
      }
    }

    .trial-button {
      background-color: $trial-button;
      display: inline-block;
      padding: 10px 0;
      margin-top: 20px;

      .trial-button__text {
        border-right: 1px solid $main-color;
        padding: 0 15px;
        display: inline-block;
        vertical-align: middle;

        p {
          font-size: $text-small;
          text-transform: uppercase;
        }

        span {
          font-size: $text-xs;
        }
      }

      .trial-button__icon {
        padding: 0 15px;
        font-size: 25px;
        vertical-align: middle;
      }
    }
  }

  .right-column {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: calc(100% / 3);
    padding: 50px 20px 0;
    position: relative;

    .logo-money {
      position: absolute;
      top: 20px;
      right: 10px;
    }
    span {
      display: block;
    }
    .price {
      font-size: $text-xl;
      margin-bottom: 10px;
    }

    .download {
      text-transform: uppercase;
      color: $color-grey;
      font-size: $text-small;
      margin-bottom: 25px;
    }

    .box-offer {
      background-color: rgba(255,255,255,.9);
      padding: 15px;
      margin-top: 40px;

      .limited-offer {
        color: #2c2c2c;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .free-animations {
        color: #2c2c2c;
        font-size: $text-xs;
        margin-bottom: 5px;
      }

      a {
        color: $color-shop;
        font-size: $text-small;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 20px 10px;

    .central-column {
      width: 50%;
      margin: auto;
    }
    .right-column {
      width: 50%;
    }
  }
}
