.main-navbar {
  height: 60px;
  background-color: green;
  position: sticky;
  top: 0;
  // opacity: 0;
}
.parallax-1 {
  height: 650px;
  background-image: url("../img/image-bg-02.jpg");
  @include setParallax;
}


.parallax-2 {
  height: 650px;
  background-image: url("../img/image-bg-01.jpg");
  @include setParallax;

}
