// Font style
$mainFont: 'Roboto', sans-serif;

// Font size
$text-xxs: 10px;
$text-xs: 12px;
$text-small: 14px;
$text-medium: 16px;
$text-xl: 25px;


// Colori
$bg-dark: #101010;
$main-color: #fff;
$color-grey: #999;
$color-shop: #009cff;
$color-shop-light: #28acff;

// Dimensioni
$jumbotron-height: 470px;

// Bottoni
$trial-button: #5D5C59;
