// Font style
$mainFont: 'Roboto', sans-serif;

// Font size
$font-size-xxs: 10px;
$text-xs: 12px;
$text-small: 14px;
$font-size-medium: 16px;


// Colori
$bg-dark: #101010;
$main-color: #fff;
$color-grey: #999;

// Dimensioni
$jumbotron-height: 470px;

// Bottoni
$trial-button: #5D5C59;
